/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css');

body {
    padding: 0;
    margin: 0;
    /* font-family: Geneva, Verdana, Tahoma, sans-serif; */
}

.mat-drawer-inner-container {
    overflow: hidden;

}

.mat-drawer-inner-container::-webkit-scrollbar {

    width: 0px !important;
    /* background-color: blueviolet;
     opacity: 0.1 !important; */
}